# Configuración de Supabase
VITE_SUPABASE_URL=tu_url_de_supabase
VITE_SUPABASE_ANON_KEY=tu_anon_key_de_supabase

# Control de Datos de Prueba (Mocks)
# 'true' para activar mocks incluso en producción (para pruebas rápidas)
# En desarrollo (npm run dev) siempre están activados por defecto.
VITE_ENABLE_MOCKS=false
