# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dist
*.tar.gz
*.zip
*.log
node_modules
.DS_Store
.env
.env.local
.vercel
public/assets/brain/
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
*.keystore
.cerrojos_master/
