[Unit]
Description=Timer per renovar certificats Let's Encrypt SDP

[Timer]
OnCalendar=*-*-* 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
