[Unit]
Description=Renew Let's Encrypt certificates for SDP Dashboard
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/certbot renew --quiet --deploy-hook "systemctl reload nginx"
