.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: var(--nav-height);
    /* Espacio para la navegación inferior */
}

.content-area {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}