.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: calc(var(--nav-height) + 20px);
}

.layout-container.has-playground-banner {
    padding-top: 40px;
}

.has-playground-banner .main-header {
    top: 40px !important;
}

.content-area {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}