.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: calc(var(--nav-height) + 20px);
    /* Espacio para la navegación inferior y el botón flotante */
}

.content-area {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}