.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: calc(var(--nav-height) + 20px);
}

.layout-container.has-playground-banner {
    --banner-height: 50px !important;
    padding-top: var(--banner-height) !important;
    --total-top-offset: calc(var(--banner-height) + var(--header-height)) !important;
}

.content-area {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}